@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    font-family: 'Playfair Display', serif;
} */

@layer utilities {
    .bg-navbar {
        @apply bg-gradient-to-r from-[#000000]  to-[#3533cd];
    }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
  }
  
  .blink-animation {
    animation: blink 1.5s infinite;
  }